:root {
    --turquoise: #00d38e;
    --forest: #193129;
    --limeGreen: #c7e995;
    --brightGreen: #01863c;
    font-size: 16px;
  }
  
  * {
    margin: 0;
    padding: 0;
  
  }
  
  html {
    scroll-behavior: smooth;
    /* max-width: 120em; */
  }
  
  body {
    /* background-image: ; */
    background-color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    overflow: auto; /* Change this to allow scrolling */
  }
  .homecontent {
    /* width: 100%;
    height: 68.88rem; */
    padding: 8.22rem 0rem 5rem 10.188rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    color: white;
    background-color: black;
  }
  
  .homecontent .motto {
    line-height: 1.1;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 5.75rem;
    font-weight: 700;
  }
  
  .homecontent .sub-motto {
    width: 70rem;
    margin: 2.81rem 0 0 0;
    font-size: 1.56rem;
    font-weight: normal;
    text-align: left;
  }
  
  .homecontent .sjoin {
    margin: 2.13rem 0 2.24rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
  }
  
  .homecontent .check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    height: 28px;
    width: 28px;
    background-color: #01863c;
    border-radius: 14px;
    font-size: 1.13rem;
  }
  
  .homecontent .pJoin {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: 400;
  }
  
  .homecontent button {
    display: flex;
    align-items: center;
    width: 16.06rem;
    height: 3.63rem;
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 17px;
    color: white;
    border: solid;
    border-color: white;
    background-color: #81c8b18a;
    border-radius: 6.6rem;
  }
  
  .homecontent button:hover {
    background-color: var(--forest);
  }
  
  section button .Arrow {
    margin-left: auto;
  }