:root {
    --turquoise: #00d38e;
    --forest: #193129;
    --limeGreen: #c7e995;
    --brightGreen: #01863c;
    font-size: 16px;
  }
  
  * {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
  
  html {
    scroll-behavior: smooth;
    /* max-width: 120em; */
  }
  
  body {
    /* background-image: ; */
    background-color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    overflow: auto; /* Change this to allow scrolling */
  }
  .merchcontent {
    width: 100%;
    height: 54.563rem;
    background-color: var(--forest);
    justify-content: center;
  }
  
  .merchcontent .p-merch,
  .h1-merch {
    text-align: center;
  
  }
  
  .merchcontent .p-merch {
    align-items: center;
    color: white;
    font-size: 1.63rem;
    padding: 4.875rem 0 0 0;
  }
  
  .merchcontent .h1-merch {
    height: 4.06rem;
    color: white;
    font-size: 3.13rem;
  }
  
  .merchcontent .merch {
    background-color: rgba(255, 255, 255, 0.286);
    border: solid 3px white;
    border-radius: 1.774rem;
    height: 30.65rem;
    width: 69.5rem;
    position: relative;
    justify-content: space-evenly;
    display: flex;
    margin:2.688rem auto 0 auto;
  }
  
  .merch .merch-frame {
    background-color: #ffffff;
    width: 14.844rem;
    height: 14.949rem;
    border-radius: 1.046rem;
    margin: 2.084rem 0 0 0;
    overflow: hidden;
    position: relative;
  }
  .merch-container img{
    height: 14.844em;
    width: 14.844em;
    border-radius: 1.046rem;
  
  
  }
  .merch-data{
    box-sizing: border-box;
    width: 13em;
    background-color: var(--turquoise);
    padding: 1.1rem 1.2rem;
    box-shadow: 0 8px 24px var(--forest);
    border-radius: 1.5rem;
    position: absolute;
    /* bottom: -4rem; */
    bottom: -12rem;
    right: 0;
    left: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
  }
  
  .merch-title{
    font-size: 1.869rem;
    font-weight: 500;
  }
  
  .merch-description{
    font-size: 1rem;
    font-weight: 500;
  }
  .merch-price{
    font-size: 1.5rem;
    padding: 0.3rem 0 0;
    font-weight: 700;
  }
  
  .merch-frame:hover .merch-data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
  }
  
  .merch-frame:not(:hover) .merch-data{
    animation: hide-data 1s forwards;
    opacity: 0;
    transform: opacity .3s;
  }
  .merch-frame:hover{
    animation: remove-overflow 2s forwards;
  }
  .merch-frame:not(:hover){
    animation: show-overflow .1s forwards;
  }
  @keyframes show-data{
    50%{
        transform: translateY(-12rem);
    }
    100%{
        transform: translateY(-6rem);
    }
  }
  @keyframes hide-data{
    0%{
        transform: translateY(-6rem);
    }
    50%{
        transform: translateY(-14rem);
    }
    100%{
        transform: translateY(-2rem);
    }
  }
  
  @keyframes remove-overflow{
    to{
        overflow:initial;
    }
  }
  @keyframes show-overflow {
    0%{
        pointer-events: none;
        overflow: initial;
    }
    50%,99%{
        pointer-events: none;
        overflow: initial;
    }
    100%{
        overflow: hidden;
    }
  }